main{
    display: flex;
    flex-direction: row;
}


img{
    height: 50%;
}


.card{
    background-color: rgb(255, 244, 219);
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    overflow: hidden;
    align-items: center;
    margin-bottom:20px ;
    

}
.conteiner{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;}

.conteinerP{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 92px;
    height: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}
.conteinerP p{
   color: brown;
}
.conteinerP p b{
    font-weight: bold ;
}
.sottop{
    font-weight: italic ;
font-size: small;}

.button{
        color: brown;
        background-color: rgb(235, 235, 112);
        border: none;
        border-radius: 20px;
        height: 20px;
        width: 189px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

.prezzo{
    color: brown;
}

@media screen and (max-width: 600px) {
    
    main{
        display: flex;
        flex-direction: column;
    }
  }