/* IMPOSTAZIONI GENERALI 
font-family: 'Libre Baskerville', serif;
font-family: 'Poppins', sans-serif;*/
body {
    background-image: url(sfondo.png);
    
}

/* HEADER */
#quadrato {
    background: rgb(53,34,195);
background: linear-gradient(0deg, rgba(53,34,195,1) 0%, rgba(113,160,252,1) 100%);
    margin: 35px; /* senza ripetere top left bottom */
    padding: 35px;
    
}
#quadrato img{
    width: 250px;
    display: flex;
    text-align: center; /* da rivedere erche non me lo centra */
    
}
#quadrato h1{
    font-size: 2em;
    font-family:'Poppins', sans-serif;
    color: white;
    margin: 10px;
    text-align: center;
}
#quadrato ul {
    color: white;
    margin: 10px;
    font-family:'Poppins', sans-serif;
    text-align: center;

}

/* MAIN */

.main{
    background-color: rgb(243, 243, 245);
    margin: 35px;
    /* box-sizing: border-box; da rivedere */
    padding: 25px;

}

.titolo {
    font-family: 'Poppins', sans-serif ;
    font-size: 3em;
    margin: 10px;
    ;
    
}

.sottotitolo{
    font-family: 'Poppins', sans-serif ;
    font-size: 1em;
    color: rgb(198, 198, 198);
    margin: 10px;

}
p{
    font-size: 15px;
    margin: 10px;
    
}
.table{
    border: solid 1px;
    align-items: center;
}
.table td{
    weight: 40px;
}

#primariga td{
    border: solid 1px;


    
}
.secondariga td{
    border: solid 1px;
}
#video {
    border-radius: 10px; 
    weight: 100px ;
  }

.conteiner{
    background-color: aqua;
}

/*  
    li::marker {margin: 30px;
    da rivedere come spostare puntini */

    



/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
