
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.conteiner {
    display: flex;
    margin-left: 2px;
}

.bottoni{
    background-color: #a5cff3 ;
    color: #175c97;
    font-size: 18pt;
    border: none;
    margin: 4px 2px;
    height: 40px;
width: 46px;
text-align: center; 
align-items: center;
border-radius: 100%;
display: flex;
    align-items: center;
    justify-content: space-around;}

.operazione{
    background-color: #fc0707 ;
    color: #f1f1f1;
    font-size: 18pt;
    border: none;
    margin: 4px 2px;
    height: 40px;
width: 46px;
text-align: center; 
border-radius: 100%;
display: flex;
    align-items: center;
    justify-content: space-around;}
.uguale {
    width: 208px;
    background-color: #2cfc07 ;
    color: #f1f1f1;
    font-size: 22pt;
    border: none;
    margin: 4px 2px;
    height: 40px;
width: 106px;
text-align: center;
border-radius: 30%;
display: flex;
    align-items: center;
    justify-content: space-around;
}
 .input{
    background-color: #d2d1d1;
    width: 290px;

 }
 .fila{
    display: flex;
 }
 .aspetto{
    display: inline-block;
    background-color: #175c97;
 }
