button{
    background-color: $special-red;
    color: $special-white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    letter-spacing: 0.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}